{% extends 'layout.html' %}

{% block title %}
    - Публикации
{% endblock %}

{% block content %}
    {% include 'header.html' with {active: 'articles'} only %}
    <section class="page-section page-section_events">
        <div class="page-section__content">
            <h2 class="page-section__title page-section__title_left">Публикации</h2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </section>
{% endblock %}