{% extends 'layout.html' %}

{% block title %}
    - Мероприятия
{% endblock %}

{% block content %}
    {% include 'header.html' with {active: 'events'} only %}
    <section class="page-section page-section_events">
        <div class="page-section__content">
            <h2 class="page-section__title">Мероприятия</h2>
            <ul class="events events_inner">
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="/img/events-img-1.jpg" alt="PGHack 2017" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 мая</span>
                        <a href="#" class="events__reg-link">Регистрация открыта</a>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">PGHack 2017</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-2.jpg" alt="Hackathon" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">11 апреля</span>
                        <a href="#" class="events__reg-link">Регистрация открыта</a>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">Hackathon</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-3.jpg" alt="iOs developers conference in Avito office" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 сентября</span>
                        <span class="events__reg-disabled">Регистрация закрыта</span>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">iOs developers conference in Avito office</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="/img/events-img-1.jpg" alt="PGHack 2017" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 мая</span>
                        <a href="#" class="events__reg-link">Регистрация открыта</a>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">PGHack 2017</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-2.jpg" alt="Hackathon" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">11 апреля</span>
                        <a href="#" class="events__reg-link">Регистрация открыта</a>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">Hackathon</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-3.jpg" alt="iOs developers conference in Avito office" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 сентября</span>
                        <span class="events__reg-disabled">Регистрация закрыта</span>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">iOs developers conference in Avito office</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="/img/events-img-1.jpg" alt="PGHack 2017" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 мая</span>
                        <a href="#" class="events__reg-link">Регистрация открыта</a>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">PGHack 2017</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-2.jpg" alt="Hackathon" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">11 апреля</span>
                        <a href="#" class="events__reg-link">Регистрация открыта</a>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">Hackathon</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-3.jpg" alt="iOs developers conference in Avito office" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 сентября</span>
                        <span class="events__reg-disabled">Регистрация закрыта</span>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">iOs developers conference in Avito office</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    {% include 'social-share.html' %}
    {% include 'footer.html' %}
{% endblock %}