<footer class="footer">
    <div class="footer__content">
        <ul class="footer__nav">
            <li class="footer__nav-item mobile_hide">
                <a class="footer__nav-link" href="//www.avito.ru/additem" title="Подать объявление">Подать объявление</a>
            </li>
            &nbsp;
            <li class="footer__nav-item mobile_hide">
                <a class="footer__nav-link" href="//www.avito.ru/rossiya/">Объявления</a>
            </li>
            &nbsp;
            <li class="footer__nav-item mobile_hide">
                <a class="footer__nav-link" href="//www.avito.ru/shops">Магазины</a>
            </li>
            &nbsp;
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="//support.avito.ru/hc/ru">Помощь</a>
            </li>
            &nbsp;
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="//www.avito.ru/safety">Безопасность</a>
            </li>
            &nbsp;
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="//www.avito.ru/info/reklama_na_saite" rel="nofollow">Реклама на сайте</a>
            </li>
            &nbsp;
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="//www.avito.ru/company">О компании</a>
            </li>
            &nbsp;
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="//www.avito.ru/company/job">Вакансии</a>
            </li>
            &nbsp;
            <li class="footer__nav-item">
                <a class="footer__nav-link" href="//www.avito.ru/info/apps"><strong>Мобильное приложение</strong></a>
            </li>
            <li class="footer__nav-item footer__nav-item_helper mobile_hide"></li>
        </ul>
        <p class="footer__text">
            ©&nbsp;Avito&nbsp;—&nbsp;сайт объявлений.
            Использование сайта, в том числе подача объявлений, означает согласие с
            <a class="footer__text-link" href="//www.avito.ru/info/polzovatelskoe_soglashenie">пользовательским соглашением</a>.
            <br><span class="mobile_hide"></span>Оплачивая услуги на сайте, вы принимаете <a class="footer__text-link" href="//www.avito.ru/info/oferta">оферту</a>.
            <a class="footer__text-link" href="//www.avito.ru/help/tech_browser">Информация&nbsp;о&nbsp;cookies</a>.
        </p>
    </div>
</footer>
