<header class="js-header header">
    <div class="header__content">
        <a href="/" class="header__logo-link">
            <img class="header__logo" src="/img/avito-tech-logo.svg" width="169" height="30" alt="Avito Tech">
        </a>
        <div class="js-nav-btn header__nav-btn"></div>
        <nav class="header__nav">
            <ul class="navigation-list">
                <li class="navigation-list__item{% if active == 'events' %} navigation-list__item_active{% endif %}">
                    <a href="events.html" class="navigation-list__link">
                        События
                    </a>
                </li>
                <li class="navigation-list__item{% if active == 'video' %} navigation-list__item_active{% endif %}">
                    <a href="video.html" class="navigation-list__link">
                        Видео
                    </a>
                </li>
                <li class="navigation-list__item{% if active == 'articles' %} navigation-list__item_active{% endif %}">
                    <a href="articles.html" class="navigation-list__link">
                        Публикации
                    </a>
                </li>
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link">
                        Open Source
                    </a>
                </li>
                {#<li class="navigation-list__item">
                    <a href="#" class="navigation-list__link">
                        О нас
                    </a>
                </li>#}
                <li class="navigation-list__item">
                    <a href="#" class="navigation-list__link">
                        Вакансии
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>