<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Avito Tech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.6, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Avito Tech">
    <meta name="Keywords" content="Avito Tech">
    <link rel="icon" sizes="192x192" href="" type="image/png">
    <link rel="apple-touch-startup-image" href="" type="image/png">
    <link rel="apple-touch-icon" sizes="180x180" href="" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="" type="image/png">
    <link rel="apple-touch-icon" sizes="144x144" href="" type="image/png">
    <link rel="apple-touch-icon" sizes="120x120" href="" type="image/png">
    <link rel="apple-touch-icon" sizes="114x114" href="" type="image/png">
    <link rel="apple-touch-icon" sizes="76x76" href="" type="image/png">
    <link rel="apple-touch-icon" sizes="72x72" href="" type="image/png">
    <link rel="apple-touch-icon" sizes="57x57" href="" type="image/png">
    <link rel="apple-touch-icon" href="" type="image/png">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" media="all">
    <link rel="stylesheet" href="/styles/style.bundle.min.css">
</head>
<body class="page-body">
    <div class="page-layout">
        <header class="header">
            <div class="header__content">
                <a href="/" class="header__logo-link">
                    <img class="header__logo" src="/img/avito-tech-logo.svg" width="169" height="30" alt="Avito Tech">
                </a>
                <nav class="header__nav">
                    <ul class="navigation-list">
                        <li class="navigation-list__item">
                            <a href="#" class="navigation-list__item">
                                События
                            </a>
                        </li>
                        <li class="navigation-list__item">
                            <a href="#" class="navigation-list__item">
                                Видео
                            </a>
                        </li>
                        <li class="navigation-list__item">
                            <a href="#" class="navigation-list__item">
                                Публикации
                            </a>
                        </li>
                        <li class="navigation-list__item">
                            <a href="#" class="navigation-list__item">
                                Open Source
                            </a>
                        </li>
                        <li class="navigation-list__item">
                            <a href="#" class="navigation-list__item">
                                О нас
                            </a>
                        </li>
                        <li class="navigation-list__item">
                            <a href="#" class="navigation-list__item">
                                Вакансии
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="page-section page-section_cover">
            <div class="page-section__cover"></div>
            <div class="page-section__content">
                <h1 class="page-section__title">Мы фигачим офигенный код</h1>
            </div>
        </section>
        <section class="page-section">
            <div class="page-section__content page-section__content_underline">
                <h2 class="page-section__title">Что такое AvitoTech</h2>
                <p class="page-section__text">
                    В 2007 году в Рунете появилась всем известная торговая площадка. Она называется Avito. Каждый может предложить или найти здесь товар или услугу. За время своего существования сайт неоднократно менялся, становясь ещё лучше. И количество посетителей только подтверждает это.
                </p>
                <a class="button button_blue">
                    Узнать он нас прямо сейчас
                </a>
            </div>
        </section>
        <section class="page-section">
            <div class="page-section__content">
                <h2 class="page-section__title">Мероприятия</h2>


            </div>
        </section>
        <section class="page-section page-section_video">
            <div class="page-section__content">
                <h2 class="page-section__title">Видеозаписи</h2>

            </div>
        </section>
        <footer class="page-section page-section_footer">
            <div class="page-section__content">

            </div>
        </footer>
    </div>
    <script src="/scripts/bundle.min.js"></script>
</body>
</html>
