{% extends 'layout.html' %}

{% block content %}
    {% include 'header.html' %}
    <section class="cover-section cover-section_cover">
        <div class="cover-section__cover js-cover-image"></div>
        <div class="cover-section__content">
            <div class="js-cover-container cover-section__cover-container">
                <h1 class="cover-section__title">Мы фигачим офигенный код</h1>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="page-section__content page-section__content_underline">
            <h2 class="page-section__title">Что такое AvitoTech</h2>
            <p class="page-section__text">
                В 2007 году в Рунете появилась всем известная торговая площадка. Она называется Avito. Каждый может предложить или найти здесь товар или услугу. За время своего существования сайт неоднократно менялся, становясь ещё лучше. И количество посетителей только подтверждает это.
            </p>
            {% include 'social-share.html' %}
        </div>
    </section>
    <section class="page-section page-section_events">
        <div class="page-section__content">
            <h2 class="page-section__title">События</h2>
            <ul class="events">
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="/img/events-img-1.jpg" alt="PGHack 2017" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 мая</span>
                        <span class="events__reg-label">Регистрация открыта</span>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">PGHack 2017</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-2.jpg" alt="Hackathon" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">11 апреля</span>
                        <span class="events__reg-label">Регистрация открыта</span>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">Hackathon</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-3.jpg" alt="iOs developers conference in Avito office" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 сентября</span>
                        <span class="events__reg-disabled">Регистрация закрыта</span>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">iOs developers conference in Avito office</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="page-section page-section_video">
        <div class="page-section__content">
            <h2 class="page-section__title">Видеозаписи</h2>
            <ul class="video">
                <li class="video__item js-video" data-video="yknIqPsnI9k">
                    <a href="//www.youtube.com/watch?v=yknIqPsnI9k" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/yknIqPsnI9k/hqdefault.jpg" alt="Bytecode Weaving 101 - Михаил Розумянский (Joom)" class="video__img">
                        <div class="video__about">
                            Михаил Розумянский
                            <span class="video__time">34:00</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=yknIqPsnI9k">
                        Bytecode Weaving 101 - Михаил Розумянский (Joom)
                    </a>
                </li>
                <li class="video__item js-video" data-video="rE3Y9eCfN8E">
                    <a href="//www.youtube.com/watch?v=rE3Y9eCfN8E" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/rE3Y9eCfN8E/hqdefault.jpg" alt="Датаринг: построение рекомендательной системы" class="video__img">
                        <div class="video__about">
                            Артур Кузин
                            <span class="video__time">34:15</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=rE3Y9eCfN8E">
                        Датаринг: построение рекомендательной системы
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="page-section page-section_vacancies">
        <div class="page-section__content">
            <h2 class="page-section__title">Вакансии</h2>
            <p class="page-section__text">
                Мы всегда ищем новые таланты. Если среди открытых вакансий вы не нашли подходящую<br>
                — пишите на hr@avito.ru. Возможно, именно вас нам и не хватает.
            </p>
            <a target="_blank" href="https://www.avito.ru/company/job" class="button button_blue">
                Все вакансии
            </a>
        </div>
    </section>
{% endblock %}