{% extends 'layout.html' %}

{% block content %}
    {% include 'header.html' %}
    <section class="cover-section cover-section_cover">
        <div class="cover-section__cover js-cover-image"></div>
        <div class="cover-section__content">
            <div class="js-cover-container cover-section__cover-container">
                <h1 class="cover-section__title">Мы фигачим офигенный код</h1>
                <ul class="social-share social-share_cover">
                    <li class="social-share__button">
                        <a href="https://www.facebook.com/AvitoTech/" target="_blank" title="Авито в Facebook" rel="nofollow">
                            <svg class="social-share__button-svg facebook">
                                <use xlink:href="#icon-social-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-share__button">
                        <a href="https://twitter.com/AvitoTech" target="_blank" title="Авито в Twitter" rel="nofollow">
                            <svg class="social-share__button-svg">
                                <use xlink:href="#icon-social-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-share__button">
                        <a href="http://vk.com/club5755934" target="_blank" title="Клуб Авито ВКонтакте" rel="nofollow">
                            <svg class="social-share__button-svg">
                                <use xlink:href="#icon-social-vkontakte"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-share__button">
                        <a href="http://instagram.com/avitoru" target="_blank" title="Авито в Instagram" rel="nofollow">
                            <svg class="social-share__button-svg">
                                <use xlink:href="#icon-social-instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="page-section__content page-section__content_underline">
            <h2 class="page-section__title">Что такое AvitoTech</h2>
            <p class="page-section__text">
                В 2007 году в Рунете появилась всем известная торговая площадка. Она называется Avito. Каждый может предложить или найти здесь товар или услугу. За время своего существования сайт неоднократно менялся, становясь ещё лучше. И количество посетителей только подтверждает это.
            </p>
        </div>
    </section>
    <section class="page-section page-section_events">
        <div class="page-section__content">
            <h2 class="page-section__title">Мероприятия</h2>
            <ul class="events">
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="/img/events-img-1.jpg" alt="PGHack 2017" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 мая</span>
                        <a href="#" class="events__reg-link">Регистрация открыта</a>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">PGHack 2017</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-2.jpg" alt="Hackathon" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">11 апреля</span>
                        <a href="#" class="events__reg-link">Регистрация открыта</a>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">Hackathon</a>
                    </div>
                </li>
                <li class="events__item">
                    <a href="#" class="events__img-link">
                        <img src="img/events-img-3.jpg" alt="iOs developers conference in Avito office" class="events__img">
                    </a>
                    <div class="events__row">
                        <span class="events__date">23 сентября</span>
                        <span class="events__reg-disabled">Регистрация закрыта</span>
                    </div>
                    <div class="events__row">
                        <a href="#" class="events__name">iOs developers conference in Avito office</a>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="page-section page-section_video">
        <div class="page-section__content">
            <h2 class="page-section__title">Видеозаписи</h2>
            <ul class="video">
                <li class="video__item">
                    <a href="#" class="video__img-link">
                        <img src="img/video-img-1.jpg" alt="Как делать базу данных, так чтобы ее не опрокинули за 5 минут" class="video__img">
                        <div class="video__about">
                            Дмитрий Евсеев
                            <span class="video__time">21:13</span>
                        </div>
                    </a>
                    <a class="video__name" href="#">
                        Как делать базу данных, так чтобы ее не опрокинули за 5 минут
                    </a>
                </li>
                <li class="video__item">
                    <a href="#" class="video__img-link">
                        <img src="img/video-img-2.jpg" alt="Делаем красиво и качественно" class="video__img">
                        <div class="video__about">
                            Константин Константинопольский +2
                            <span class="video__time">93:30</span>
                        </div>
                    </a>
                    <a class="video__name" href="#">
                        Делаем красиво и качественно
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <section class="page-section page-section_vacancies">
        <div class="page-section__content">
            <h2 class="page-section__title">Вакансии</h2>
            <p class="page-section__text">
                Мы всегда ищем новые таланты. Если среди открытых вакансий вы не нашли подходящую<br>
                — пишите на hr@avito.ru. Возможно, именно вас нам и не хватает.
            </p>
            <a target="_blank" href="https://www.avito.ru/company/job" class="button button_blue">
                Все вакансии
            </a>
        </div>
    </section>

    {% include 'social-share.html' %}
    {% include 'footer.html' %}
{% endblock %}