<div class="js-popup popup">
    <div class="popup__overlay"></div>
    <div class="popup__scroll">
        <div class="popup__window">
            <span class="js-popup-close popup__close-button"></span>
            <div class="popup__content">
                <h2>Главный редактор</h2>
                <h3>Мы ожидаем, что вы:</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dicta dolor dolorem enim facilis iure maiores quas saepe suscipit voluptates. Dolor quia saepe totam ullam veniam! Deserunt illum repellendus soluta.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dicta dolor dolorem enim facilis iure maiores quas saepe suscipit voluptates. Dolor quia saepe totam ullam veniam! Deserunt illum repellendus soluta.</p>
                <h3>Мы предлагаем вам:</h3>
                <ul>
                    <li>заработную плату по результатам собеседования;</li>
                    <li>медицинское страхование после испытательного срока;</li>
                    <li>питание в офисе, свой спортзал, занятия йогой;</li>
                    <li>работу в офисе А класса м. Белорусская.</li>
                </ul>
                <h3>Мы предлагаем вам:</h3>
                <ul>
                    <li>заработную плату по результатам собеседования;</li>
                    <li>медицинское страхование после испытательного срока;</li>
                    <li>питание в офисе, свой спортзал, занятия йогой;</li>
                    <li>работу в офисе А класса м. Белорусская.</li>
                </ul>
                <h3>Мы предлагаем вам:</h3>
                <ul>
                    <li>заработную плату по результатам собеседования;</li>
                    <li>медицинское страхование после испытательного срока;</li>
                    <li>питание в офисе, свой спортзал, занятия йогой;</li>
                    <li>работу в офисе А класса м. Белорусская.</li>
                </ul>
                <h3>Мы предлагаем вам:</h3>
                <ul>
                    <li>заработную плату по результатам собеседования;</li>
                    <li>медицинское страхование после испытательного срока;</li>
                    <li>питание в офисе, свой спортзал, занятия йогой;</li>
                    <li>работу в офисе А класса м. Белорусская.</li>
                </ul>
                <p class="popup__link-wrap">
                    <span class="popup__pseudo-link">Откликнуться на вакансию</span>
                </p>
            </div>
        </div>
    </div>
</div>