<ul class="social-share">
    <li class="social-share__button">
        <a href="https://habrahabr.ru/company/avito/" target="_blank" title="Авито на Habrahabr" rel="nofollow">
            <svg class="social-share__button-svg">
                <use xlink:href="#icon-social-habr"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__button">
        <a href="https://www.facebook.com/AvitoTech/" target="_blank" title="Авито в Facebook" rel="nofollow">
            <svg class="social-share__button-svg facebook">
                <use xlink:href="#icon-social-facebook"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__button">
        <a href="https://twitter.com/AvitoTech" target="_blank" title="Авито в Twitter" rel="nofollow">
            <svg class="social-share__button-svg">
                <use xlink:href="#icon-social-twitter"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__button">
        <a href="https://t.me/avitotech" target="_blank" title="Авито в Telegram" rel="nofollow">
            <svg class="social-share__button-svg">
                <use xlink:href="#icon-social-telegram"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__button">
        <a href="https://github.com/avito-tech" target="_blank" title="Авито на GitHub" rel="nofollow">
            <svg class="social-share__button-svg">
                <use xlink:href="#icon-social-github"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__button">
        <a href="https://www.youtube.com/c/AvitoTech" target="_blank" title="Авито на Youtube" rel="nofollow">
            <svg class="social-share__button-svg">
                <use xlink:href="#icon-social-youtube"></use>
            </svg>
        </a>
    </li>

    <li class="social-share__button">
        <a href="https://www.slideshare.net/avitotech" target="_blank" title="Авито на Slideshare" rel="nofollow">
            <svg class="social-share__button-svg">
                <use xlink:href="#icon-social-slideshare"></use>
            </svg>
        </a>
    </li>
</ul>