<ul class="social-share">
    <li class="social-share__button">
        <a href="https://www.facebook.com/AvitoTech/" target="_blank" title="Авито в Facebook" rel="nofollow">
            <svg class="social-share__button-svg facebook">
                <use xlink:href="#icon-social-facebook"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__button">
        <a href="https://twitter.com/AvitoTech" target="_blank" title="Авито в Twitter" rel="nofollow">
            <svg class="social-share__button-svg">
                <use xlink:href="#icon-social-twitter"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__button">
        <a href="http://vk.com/club5755934" target="_blank" title="Клуб Авито ВКонтакте" rel="nofollow">
            <svg class="social-share__button-svg">
                <use xlink:href="#icon-social-vkontakte"></use>
            </svg>
        </a>
    </li>
    <li class="social-share__button">
        <a href="http://instagram.com/avitoru" target="_blank" title="Авито в Instagram" rel="nofollow">
            <svg class="social-share__button-svg">
                <use xlink:href="#icon-social-instagram"></use>
            </svg>
        </a>
    </li>
</ul>