<div class="tabs">
    <ul class="tabs__nav">
        <li class="js-tab-nav tabs__nav-item tabs__nav-item_active" data-tab-id="1">
            Москва
        </li>
        <li class="js-tab-nav tabs__nav-item" data-tab-id="2">
            Санкт-Петербург
        </li>
    </ul>
    <ul class="tabs__content">
        <li class="js-tab-content tabs__content-item tabs__content-item_active" data-tab-id="1">
            <div class="vacancies">
                <div class="vacancies__row">
                    <div class="vacancies__department">
                        Финансовый отдел
                    </div>
                    <ul class="vacancies__list">
                        <li class="vacancies__list-item js-pop-link">
                            Head of consolidation
                        </li>
                        <li class="vacancies__list-item js-pop-link">
                            Treasury manager
                        </li>
                    </ul>
                </div>
                <div class="vacancies__row">
                    <div class="vacancies__department">
                        Финансовый отдел
                    </div>
                    <ul class="vacancies__list">
                        <li class="vacancies__list-item js-pop-link">
                            Head of consolidation
                        </li>
                        <li class="vacancies__list-item js-pop-link">
                            Treasury manager
                        </li>
                    </ul>
                </div>
                <div class="vacancies__row">
                    <div class="vacancies__department">
                        Финансовый отдел
                    </div>
                    <ul class="vacancies__list">
                        <li class="vacancies__list-item js-pop-link">
                            Head of consolidation
                        </li>
                        <li class="vacancies__list-item js-pop-link">
                            Treasury manager
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="js-tab-content tabs__content-item" data-tab-id="2">
            <div class="vacancies">
                <div class="vacancies__row">
                    <div class="vacancies__department">
                        Финансовый отдел
                    </div>
                    <ul class="vacancies__list">
                        <li class="vacancies__list-item js-pop-link">
                            Head of consolidation
                        </li>
                        <li class="vacancies__list-item js-pop-link">
                            Treasury manager
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>