<div class="js-popup popup">
    <div class="popup__overlay"></div>
    <div class="popup__scroll">
        <div class="popup__window">
            <span class="js-popup-close popup__close-button"></span>
            <div class="popup__content">
                <div class="popup__vacancies">
                    <h2>Главный редактор</h2>
                    <h3>Мы ожидаем, что вы:</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dicta dolor dolorem enim facilis iure maiores quas saepe suscipit voluptates. Dolor quia saepe totam ullam veniam! Deserunt illum repellendus soluta.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, dicta dolor dolorem enim facilis iure maiores quas saepe suscipit voluptates. Dolor quia saepe totam ullam veniam! Deserunt illum repellendus soluta.</p>
                    <h3>Мы предлагаем вам:</h3>
                    <ul>
                        <li>заработную плату по результатам собеседования;</li>
                        <li>медицинское страхование после испытательного срока;</li>
                        <li>питание в офисе, свой спортзал, занятия йогой;</li>
                        <li>работу в офисе А класса м. Белорусская.</li>
                    </ul>
                    <h3>Мы предлагаем вам:</h3>
                    <ul>
                        <li>заработную плату по результатам собеседования;</li>
                        <li>медицинское страхование после испытательного срока;</li>
                        <li>питание в офисе, свой спортзал, занятия йогой;</li>
                        <li>работу в офисе А класса м. Белорусская.</li>
                    </ul>
                    <h3>Мы предлагаем вам:</h3>
                    <ul>
                        <li>заработную плату по результатам собеседования;</li>
                        <li>медицинское страхование после испытательного срока;</li>
                        <li>питание в офисе, свой спортзал, занятия йогой;</li>
                        <li>работу в офисе А класса м. Белорусская.</li>
                    </ul>
                    <h3>Мы предлагаем вам:</h3>
                    <ul>
                        <li>заработную плату по результатам собеседования;</li>
                        <li>медицинское страхование после испытательного срока;</li>
                        <li>питание в офисе, свой спортзал, занятия йогой;</li>
                        <li>работу в офисе А класса м. Белорусская.</li>
                    </ul>
                </div>
                <div class="popup__link-wrap">
                    <span class="popup__pseudo-link js-form-link">Откликнуться на вакансию</span>
                </div>
                <div class="popup__form-wrap js-form-wrap">
                    <form class="form">
                        <fieldset class="form__row">
                            <input type="text" value="" name="" placeholder="Имя" class="form__input">
                        </fieldset>
                        <fieldset class="form__row">
                            <input type="text" value="" name="" placeholder="Фамилия" class="form__input">
                        </fieldset>
                        <fieldset class="form__row">
                            <input type="tel" value="" name="" placeholder="Телефон" class="form__input">
                        </fieldset>
                        <fieldset class="form__row">
                            <input type="email" value="" name="" placeholder="Электронная почта" class="form__input">
                        </fieldset>
                        <fieldset class="form__row">
                            <textarea name="" class="form__textarea" placeholder="Хотите что-то дополнить?"></textarea>
                        </fieldset>
                        <fieldset class="form__row form__row_legal-info">
                            <div class="form__row-checkbox-wrap">
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox__input" value="">
                                    <span class="checkbox__label"></span>
                                </label>
                            </div>
                            <div class="form__text">Я&nbsp;соглашаюсь передать свои персональные данные, содержащиеся в&nbsp;анкете и&nbsp;всех приложенных файлах, в&nbsp;ООО &laquo;KEH eCommerce&raquo; исключительно для того, чтобы компания &laquo;Avito&raquo; могла предлагать мне вакансии. Я&nbsp;понимаю и&nbsp;соглашаюсь, что мои данные будут храниться и&nbsp;обрабатываться в&nbsp;ООО &laquo;KEH eCommerce&raquo; в&nbsp;течение десяти лет, в&nbsp;соответствии с&nbsp;Федеральным законом &laquo;О&nbsp;персональных данных&raquo;.</div>
                        </fieldset>
                        <fieldset class="form__row form__row_center">
                            <button class="button button_blue" type="submit">Отправить</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>