{% extends 'layout.html' %}

{% block title %}
    - Видеозаписи
{% endblock %}

{% block content %}
    {% include 'header.html' with {active: 'video'} only %}
    <section class="page-section">
        <div class="page-section__content">
            <h2 class="page-section__title page-section__title_left">Видеозаписи</h2>
            <ul class="video video_inner">
                <li class="video__item js-video" data-video="yknIqPsnI9k">
                    <a href="//www.youtube.com/watch?v=yknIqPsnI9k" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/yknIqPsnI9k/hqdefault.jpg" alt="Bytecode Weaving 101 - Михаил Розумянский (Joom)" class="video__img">
                        <div class="video__about">
                            Михаил Розумянский
                            <span class="video__time">34:00</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=yknIqPsnI9k">
                        Bytecode Weaving 101 - Михаил Розумянский (Joom)
                    </a>
                </li>
                <li class="video__item js-video" data-video="rE3Y9eCfN8E">
                    <a href="//www.youtube.com/watch?v=rE3Y9eCfN8E" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/rE3Y9eCfN8E/hqdefault.jpg" alt="Датаринг: построение рекомендательной системы" class="video__img">
                        <div class="video__about">
                            Артур Кузин
                            <span class="video__time">34:15</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=rE3Y9eCfN8E">
                        Датаринг: построение рекомендательной системы
                    </a>
                </li>
                <li class="video__item js-video" data-video="7vY3_vPipW8">
                    <a href="//www.youtube.com/watch?v=7vY3_vPipW8" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/7vY3_vPipW8/hqdefault.jpg" alt=" - Александр Лобашев (Avito)" class="video__img">
                        <div class="video__about">
                            Александр Лобашев
                            <span class="video__time">24:13</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=7vY3_vPipW8">
                        Дизайн платформа в Avito - Александр Лобашев (Avito)
                    </a>
                </li>
                <li class="video__item js-video" data-video="rE3Y9eCfN8E">
                    <a href="//www.youtube.com/watch?v=rE3Y9eCfN8E" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/rE3Y9eCfN8E/hqdefault.jpg" alt="Датаринг: построение рекомендательной системы" class="video__img">
                        <div class="video__about">
                            Артур Кузин
                            <span class="video__time">34:15</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=rE3Y9eCfN8E">
                        Датаринг: построение рекомендательной системы
                    </a>
                </li>
                <li class="video__item js-video" data-video="yknIqPsnI9k">
                    <a href="//www.youtube.com/watch?v=yknIqPsnI9k" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/yknIqPsnI9k/hqdefault.jpg" alt="Bytecode Weaving 101 - Михаил Розумянский (Joom)" class="video__img">
                        <div class="video__about">
                            Михаил Розумянский
                            <span class="video__time">34:00</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=yknIqPsnI9k">
                        Bytecode Weaving 101 - Михаил Розумянский (Joom)
                    </a>
                </li>
                <li class="video__item js-video" data-video="rE3Y9eCfN8E">
                    <a href="//www.youtube.com/watch?v=rE3Y9eCfN8E" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/rE3Y9eCfN8E/hqdefault.jpg" alt="Датаринг: построение рекомендательной системы" class="video__img">
                        <div class="video__about">
                            Артур Кузин
                            <span class="video__time">34:15</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=rE3Y9eCfN8E">
                        Датаринг: построение рекомендательной системы
                    </a>
                </li>
                <li class="video__item js-video" data-video="yknIqPsnI9k">
                    <a href="//www.youtube.com/watch?v=yknIqPsnI9k" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/yknIqPsnI9k/hqdefault.jpg" alt="Bytecode Weaving 101 - Михаил Розумянский (Joom)" class="video__img">
                        <div class="video__about">
                            Михаил Розумянский
                            <span class="video__time">34:00</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=yknIqPsnI9k">
                        Bytecode Weaving 101 - Михаил Розумянский (Joom)
                    </a>
                </li>
                <li class="video__item js-video" data-video="rE3Y9eCfN8E">
                    <a href="//www.youtube.com/watch?v=rE3Y9eCfN8E" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/rE3Y9eCfN8E/hqdefault.jpg" alt="Датаринг: построение рекомендательной системы" class="video__img">
                        <div class="video__about">
                            Артур Кузин
                            <span class="video__time">34:15</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=rE3Y9eCfN8E">
                        Датаринг: построение рекомендательной системы
                    </a>
                </li>
                <li class="video__item js-video" data-video="yknIqPsnI9k">
                    <a href="//www.youtube.com/watch?v=yknIqPsnI9k" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/yknIqPsnI9k/hqdefault.jpg" alt="Bytecode Weaving 101 - Михаил Розумянский (Joom)" class="video__img">
                        <div class="video__about">
                            Михаил Розумянский
                            <span class="video__time">34:00</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=yknIqPsnI9k">
                        Bytecode Weaving 101 - Михаил Розумянский (Joom)
                    </a>
                </li>
                <li class="video__item js-video" data-video="rE3Y9eCfN8E">
                    <a href="//www.youtube.com/watch?v=rE3Y9eCfN8E" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/rE3Y9eCfN8E/hqdefault.jpg" alt="Датаринг: построение рекомендательной системы" class="video__img">
                        <div class="video__about">
                            Артур Кузин
                            <span class="video__time">34:15</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=rE3Y9eCfN8E">
                        Датаринг: построение рекомендательной системы
                    </a>
                </li>
                <li class="video__item js-video" data-video="yknIqPsnI9k">
                    <a href="//www.youtube.com/watch?v=yknIqPsnI9k" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/yknIqPsnI9k/hqdefault.jpg" alt="Bytecode Weaving 101 - Михаил Розумянский (Joom)" class="video__img">
                        <div class="video__about">
                            Михаил Розумянский
                            <span class="video__time">34:00</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=yknIqPsnI9k">
                        Bytecode Weaving 101 - Михаил Розумянский (Joom)
                    </a>
                </li>
                <li class="video__item js-video" data-video="rE3Y9eCfN8E">
                    <a href="//www.youtube.com/watch?v=rE3Y9eCfN8E" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/rE3Y9eCfN8E/hqdefault.jpg" alt="Датаринг: построение рекомендательной системы" class="video__img">
                        <div class="video__about">
                            Артур Кузин
                            <span class="video__time">34:15</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=rE3Y9eCfN8E">
                        Датаринг: построение рекомендательной системы
                    </a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}