{% extends 'layout.html' %}

{% block title %}
    - Видеозаписи
{% endblock %}

{% block content %}
    {% include 'header.html' with {active: 'video'} only %}
    <section class="page-section">
        <div class="page-section__content">
            <h2 class="page-section__title page-section__title_left">Видеозаписи</h2>
            <ul class="video video_inner">
                <li class="video__item js-video" data-video="yknIqPsnI9k">
                    <a href="//www.youtube.com/watch?v=yknIqPsnI9k" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/yknIqPsnI9k/hqdefault.jpg" alt="Bytecode Weaving 101 - Михаил Розумянский (Joom)" class="video__img">
                        <div class="video__about">
                            Михаил Розумянский
                            <span class="video__time">34:00</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=yknIqPsnI9k">
                        Bytecode Weaving 101 - Михаил Розумянский (Joom)
                    </a>
                </li>
                <li class="video__item js-video" data-video="rE3Y9eCfN8E">
                    <a href="//www.youtube.com/watch?v=rE3Y9eCfN8E" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/rE3Y9eCfN8E/hqdefault.jpg" alt="Датаринг: построение рекомендательной системы" class="video__img">
                        <div class="video__about">
                            Артур Кузин
                            <span class="video__time">34:15</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=rE3Y9eCfN8E">
                        Датаринг: построение рекомендательной системы
                    </a>
                </li>
                <li class="video__item js-video" data-video="7vY3_vPipW8">
                    <a href="//www.youtube.com/watch?v=7vY3_vPipW8" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/7vY3_vPipW8/hqdefault.jpg" alt=" - Александр Лобашев (Avito)" class="video__img">
                        <div class="video__about">
                            Александр Лобашев
                            <span class="video__time">24:13</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=7vY3_vPipW8">
                        Дизайн платформа в Avito - Александр Лобашев (Avito)
                    </a>
                </li>
                <li class="video__item js-video" data-video="ErhWb-iTRmc">
                    <a href="//www.youtube.com/watch?v=ErhWb-iTRmc" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/ErhWb-iTRmc/hqdefault.jpg" alt="Работаем с API по-взрослому - Максим Кислов (Badoo)" class="video__img">
                        <div class="video__about">
                            Максим Кислов
                            <span class="video__time">30:13</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=ErhWb-iTRmc">
                        Работаем с API по-взрослому - Максим Кислов (Badoo)
                    </a>
                </li>
                <li class="video__item js-video" data-video="n0u0u_jkBeI">
                    <a href="//www.youtube.com/watch?v=n0u0u_jkBeI" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/n0u0u_jkBeI/hqdefault.jpg" alt="Rempl — крутая платформа для крутых инструментов" class="video__img">
                        <div class="video__about">
                            Роман Дворнов
                            <span class="video__time">1:06:04</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=n0u0u_jkBeI">
                        Rempl — крутая платформа для крутых инструментов
                    </a>
                </li>
                <li class="video__item js-video" data-video="hqAqckBOSs0">
                    <a href="//www.youtube.com/watch?v=hqAqckBOSs0" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/hqAqckBOSs0/hqdefault.jpg" alt="Блиц - Стабы для фронтенда - Никита Мостовой (HeadHunter)" class="video__img">
                        <div class="video__about">
                            Никита Мостовой
                            <span class="video__time">09:01</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=hqAqckBOSs0">
                        Блиц - Стабы для фронтенда - Никита Мостовой (HeadHunter)"
                    </a>
                </li>
                <li class="video__item js-video" data-video="Wg9jFQ8F7go">
                    <a href="//www.youtube.com/watch?v=Wg9jFQ8F7go" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/Wg9jFQ8F7go/hqdefault.jpg" alt="Блиц - Серверная валидация сложных форм и ее синхронизация с фронтендом на примере Ajv" class="video__img">
                        <div class="video__about">
                            Блиц
                            <span class="video__time">09:33</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=Wg9jFQ8F7go">
                        Блиц - Серверная валидация сложных форм и ее синхронизация с фронтендом на примере Ajv
                    </a>
                </li>
                <li class="video__item js-video" data-video="h23HbKaUbaU">
                    <a href="//www.youtube.com/watch?v=h23HbKaUbaU" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/h23HbKaUbaU/hqdefault.jpg" alt="Дискуссия - Организация системы компонент" class="video__img">
                        <div class="video__about">
                            Дискуссия
                            <span class="video__time">01:07:57</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=h23HbKaUbaU">
                        Дискуссия - Организация системы компонент
                    </a>
                </li>
                <li class="video__item js-video" data-video="h3EnLNgMoTY">
                    <a href="//www.youtube.com/watch?v=h3EnLNgMoTY" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/h3EnLNgMoTY/hqdefault.jpg" alt="Kubernetes в Avito - Евгений Ольков (DevOps-инженер, Avito)" class="video__img">
                        <div class="video__about">
                            Евгений Ольков
                            <span class="video__time">49:04</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=h3EnLNgMoTY">
                        Kubernetes в Avito - Евгений Ольков (DevOps-инженер, Avito)
                    </a>
                </li>
                <li class="video__item js-video" data-video="PpQ_kMn5Cps">
                    <a href="//www.youtube.com/watch?v=PpQ_kMn5Cps" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/PpQ_kMn5Cps/hqdefault.jpg" alt="Вступительное слово и дайджест - Денис Измайлов" class="video__img">
                        <div class="video__about">
                            Денис Измайлов
                            <span class="video__time">13:20</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=PpQ_kMn5Cps">
                        Вступительное слово и дайджест - Денис Измайлов
                    </a>
                </li>
                <li class="video__item js-video" data-video="Xq3QoOZB6Zo">
                    <a href="//www.youtube.com/watch?v=Xq3QoOZB6Zo" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/Xq3QoOZB6Zo/hqdefault.jpg" alt="Helm: пакетный менеджер для Kubernetes - Сергей Орлов (Avito)" class="video__img">
                        <div class="video__about">
                            Сергей Орлов
                            <span class="video__time">32:07</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=Xq3QoOZB6Zo">
                        Helm: пакетный менеджер для Kubernetes - Сергей Орлов (Avito)
                    </a>
                </li>
                <li class="video__item js-video" data-video="e2KFIH-8GhQ">
                    <a href="//www.youtube.com/watch?v=e2KFIH-8GhQ" class="video__img-link">
                        <img src="https://i.ytimg.com/vi/e2KFIH-8GhQ/hqdefault.jpg" alt="Kubernetes в production - Павел Селиванов (Центр Недвижимости от Сбербанка)" class="video__img">
                        <div class="video__about">
                            Павел Селиванов
                            <span class="video__time">36:04</span>
                        </div>
                    </a>
                    <a class="video__name" href="//www.youtube.com/watch?v=e2KFIH-8GhQ">
                        Kubernetes в production - Павел Селиванов (Центр Недвижимости от Сбербанка)
                    </a>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}