*
    margin 0
    padding 0

html, body
    height: 100%

.page-body
    font: 400 14px/1.3 $font-family-default
    color: $color-dark

    &_disabled
        overflow: hidden

.page-layout
    overflow: hidden
    padding-top: $header-height

.desktop_hide
    display: none !important

@media $media-mobile
    .mobile_hide
        display: none !important

    .desktop_hide
        display: block !important