.events
    padding: 20px 0 0
    text-align: left

    &__item
        display: inline-block
        vertical-align: top
        width: 31%
        margin-right: 3.5%

        ^[0]_inner &
            margin-bottom: 35px

        &:nth-child(3n+3)
            margin-right: 0

    &__img-link
        display block
        margin-bottom: 20px

    &__img
        display: block
        max-width: 100%
        height: auto

    &__row
        margin-top: 5px
        font-family: $font-family-lato

    &__date
        display: inline-block
        vertical-align: baseline
        font-size: 20px
        margin-right: 5px

    &__reg-link
    &__reg-disabled
        text-decoration: none
        display: inline-block
        vertical-align: baseline
        font-size: 16px

    &__reg-link
        link($color-lime)

    &__reg-disabled
        color: $color-gray

    &__name
        link()
        font-size: 22px

@media $media-mobile
   .events
       white-space: normal

       &__item
           width: auto
           margin: 0 0 20px
           display: block

       &__img-link
           margin-bottom: 0