.footer
    border-top: 1px solid $color-border-grey

    &__content
        section-content()
        padding-bottom: 40px

    &__nav
        background: $color-soft-grey
        padding: 15px $side-offset-hd 0
        border-bottom: 1px solid $color-border-grey
        margin-bottom: 10px
        margin-left: -($side-offset-hd)
        margin-right: -($side-offset-hd)
        text-align: justify

        &-item
            display: inline-block

            &_helper
                width: 100%

        &-link
            link()
            font-size: 11px

    &__text
        color: $color-grey
        font-size: 11px
        padding-top: 15px

        &-link
            link($color-grey)

@media $media-tablet
    .footer
        &__nav
            text-align: center
            padding-bottom: 10px
            padding-left:$side-offset-tablet
            padding-right:$side-offset-tablet
            margin-left: -($side-offset-tablet)
            margin-right: -($side-offset-tablet)

            &-item
                margin: 5px 3px

                &_helper
                    display: none

@media $media-mobile
   .footer
       &__nav
           padding-left:$side-offset-mobile
           padding-right:$side-offset-mobile
           margin-left: -($side-offset-mobile)
           margin-right: -($side-offset-mobile)

           &-link
                font-size: 13px