.footer
    border-top: 1px solid $color-border-gray

    &__content
        section-content()
        padding-bottom: 40px

    &__nav
        background: $color-soft-gray
        padding: 15px 15px 0
        border-bottom: 1px solid $color-border-gray
        margin-bottom: 10px
        text-align: justify

        &-item
            display: inline-block

            &_helper
                width: 100%

        &-link
            color: $color-blue
            text-decoration: none
            font-size: 11px

    &__text
        color: $color-gray
        font-size: 11px
        padding: 15px 15px 0

        &-link
            color: $color-gray
            text-decoration: none
            border-bottom: 1px solid $color-gray
            transition: border-color $animation-time $timing-function

            &:hover
                border-color: transparent

@media $media-mobile
   .footer
       &__nav
           text-align: center
           padding-bottom: 10px

           &-item
               margin: 5px 3px

               &_helper
                   display: none

            &-link
                font-size: 13px