.header
    background: $color-dark
    width: 100%
    position: fixed
    top: 0
    z-index: 10
    height: $header-height

    &__content
        margin: 0 auto
        width: $grid-hd

    &__logo-link
        display: inline-block
        margin-top: 10px

    &__nav
        display: none
