// Mixins

// Titles
title($level = 1, $lineHeight = 1.3,  $fontFamily = $font-family-lato-light)

    if $level == 1
        $fontSize = 56px
    else if $level == 2
        $fontSize = 42px
    else if $level == 3
        $fontSize = 22px

    font-weight: 400
    font-size: $fontSize
    line-height: $lineHeight
    font-family: $fontFamily