.navigation-list
    display: inline-block
    vertical-align: middle
    white-space: nowrap

    &__item
        display: inline-block
        vertical-align: middle
        margin-right: 20px
        padding-bottom: 8px
        border-bottom: 3px solid transparent

        &_active
            border-color: $color-red

        &:last-child
            margin-right: 0

    &__link
        font: 400 $font-size-5/1.3 $font-family-lato
        color: $color-white
        display: block
        text-decoration: none
        transition: color $animation-time $timing-function

        ^[0]__item_active &
        &:hover
            color: $color-red

@media $media-mobile
    .navigation-list
        display: block
        background: $color-dark
        padding: 0 $side-offset-mobile
        white-space: normal

        &__item
            display: block
            margin: 0
            padding: 15px 0
            border-bottom: 1px solid $color-white

            &_active
                border-color: $color-red

            &:last-child
                border-bottom: 0