.page-section
    &__content
        margin: 0 auto
        max-width: $grid-hd
        position: relative
        text-align: center
        box-sizing: border-box
        padding: 50px 85px 70px

        &_underline
            border-bottom: 1px solid $color-border-gray

    &__title
        title(2)
        margin-bottom: 20px

    &__text
        title(3)
        color: $color-gray
        margin-bottom: 40px

    &__cover
        background: url($bg-url + 'cover.jpg') no-repeat 50% 0;
        background-size: cover
        height: $cover-height + 100px
        position: absolute
        width: 100%
        top: -50px

    &__cover-container
        display: inline-block
        vertical-align: middle

    //MOD Cover block
    &_cover
        height: $cover-height
        overflow: hidden
        position: relative

        & ^[0]__title
            title(1)
            color: $color-white
            letter-spacing: 2px
            display: inline-block
            vertical-align: middle
            margin: 0

        & ^[0]__content
            height: $cover-height
            padding: 0

            &::before
                content: ''
                height: $cover-height
                display: inline-block
                vertical-align: middle

    //MOD Video block
    &_video
        background: $color-soft-gray

@media $media-tablet
    .page-section
        &__content
            padding: 30px 50px

@media $media-mobile
    .page-section
        min-width: 300px

        &__content
            padding: 30px 18px

        &__title
            font-size: 22px
            font-family: $font-family-lato-bold
            margin-bottom: 20px

        &__text
            font-size: 16px
            font-family: $font-family-lato
            margin-bottom: 40px

        &_cover
            & ^[0]__title
                font-size: 46px
