.page-section
    &__content
        section-content()
        position: relative
        text-align: center
        padding-top: 50px
        padding-bottom:70px

        &_underline
            border-bottom: 1px solid $color-border-gray

    &__title
        title(2)
        margin-bottom: 20px

    &__text
        title(3)
        padding: 0 75px
        color: $color-gray
        margin-bottom: 40px

    //MOD Video section
    &_video
        background: $color-soft-gray

    //MOD Events section
    &_vacancies
        & ^[0]__text
            padding-left: 20px
            padding-right: @padding-left

    //MOD Social share section
    &_social-share
        & ^[0]__content
            padding-top: 20px
            padding-bottom: @padding-top

@media $media-tablet
    .page-section
        &__content
            padding-top: 30px
            padding-bottom: @padding-top

@media $media-mobile
    .page-section
        min-width: 300px

        &__content
            padding-top: 30px
            padding-bottom: @padding-top

        &__title
            margin-bottom: 20px

        &__text
            margin-bottom: 40px
            padding: 0
