.social-share
    list-style-type: none
    font-size: 0
    text-align: center
    margin: 35px 0

    &__button
        margin-right: 16px
        display: inline

        &:last-child
            margin-right: 0

        &-svg
            color: $color-blue
            width: 48px
            height: 48px
            cursor: pointer
            transition: color $animation-time $timing-function

            &:hover
                color: $color-gray

    &_cover
        & ^[0]__button-svg
            color: $color-white
            transition: transform $animation-time $timing-function

            &:hover
                transform: scale(1.15)

