.social-share
    list-style-type: none
    font-size: 0
    text-align: center

    &__button
        margin-right: 16px
        display: inline

        &:last-child
            margin-right: 0

        &-svg
            color: $color-blue
            width: 55px
            height: 55px
            cursor: pointer

            &:hover
                color: $color-red
