// Font-family
$font-family-default = Arial, 'Helvetica Neue', Helvetica, sans-serif
$font-family-lato = 'latoregular', $font-family-default
$font-family-lato-bold = 'latobold', $font-family-default
$font-family-lato-light = 'latolight', $font-family-default

// Colors
$color_gray = #7e7e7e
$color_pink = #FF6B6B
$color_mint = #4ECDC4
$color_white = #fff
$color_dark = #556270

// Transition
$animation-time = .3s
$timing-function = ease

// Urls
$fonts-url = '/fonts/'

// Grid
$grid_hd = 1200px
$grid_tablet = 768px
$grid_mobile = 580px

// Media queries
$media_hd = "screen and (max-width: " + $grid_hd + ")"  // HD
$media_tablet = "screen and (max-width: " + $grid_tablet + ")"  // Tablet
$media_mobile = "screen and (max-width: " + $grid_mobile + ")"  // Mobile
