// Font-family
$font-family-default = Arial, 'Helvetica Neue', Helvetica, sans-serif
$font-family-lato = 'latoregular', $font-family-default
$font-family-lato-bold = 'latobold', $font-family-default
$font-family-lato-light = 'latolight', $font-family-default
$font-family-lato-black = 'latoblack', $font-family-default

// Font-size
$font-size-1 = 56px
$font-size-2 = 42px
$font-size-3 = 22px
$font-size-4 = 20px
$font-size-5 = 14px
$font-mobile-size-1 = 46px
$font-mobile-size-2 = 22px
$font-mobile-size-3 = 16px

// Line height
$line-height-1 = 65px
$line-height-2 = 50px
$line-height-3 = 30px
$line-height-4 = 30px
$line-height-5 = 20px

// Colors
$color-dark = #000
$color-grey = #858585
$color-white = #fff
$color-blue = #00aaff
$color-green = #97cf26
$color-red = #FF6163
$color-soft-grey = #F5F5F5
$color-border-grey = #E8E8E8
$color-orange = #FFB020
$color-purple = #a169f7

$color-grey-40 = rgba(#000, 0.4)

// Button colors
$btn-color-blue = $color-blue
$btn-color-light-blue = #11B6FF
$button-color-lightness-blue = #92D8FF
$button-color-dark-blue = #007ECC
$button-color-darkness-blue = #007CC9

// Transition
$animation-time = .3s
$timing-function = ease

// Urls
$fonts-url = '/fonts/'
$bg-url = '/img/'

// Dimensions
$header-height = 50px
$cover-height = 450px

//Offset
$side-offset-hd = 10px
$side-offset-tablet = 20px
$side-offset-mobile = 4%

// Grid
$grid-hd = 1000px
$grid-tablet = 768px
$grid-mobile = 580px

// Media queries
$media-hd = "screen and (max-width: " + $grid-hd + ")"  // HD
$media-tablet = "screen and (max-width: " + $grid-tablet + ")"  // Tablet
$media-mobile = "screen and (max-width: " + $grid-mobile + ")"  // Mobile


