// Font-family
$font-family-default = Arial, 'Helvetica Neue', Helvetica, sans-serif
$font-family-lato = 'latoregular', $font-family-default
$font-family-lato-bold = 'latobold', $font-family-default
$font-family-lato-light = 'latolight', $font-family-default

// Font-size
$font-size-1 = 56px
$font-size-2 = 42px
$font-size-3 = 22px

// Colors
$color-dark = #000
$color-white = #fff
$color-blue = #00aaff
$color-gray = #858585
$color-soft-gray = #F5F5F5
$color-border-gray = #E8E8E8
$color-lime = #97cf26
$color-yellow = #FFB045

// Button colors
$btn-color-blue = $color-blue
$btn-color-light-blue = #11B6FF
$button-color-lightness-blue = #92D8FF
$button-color-dark-blue = #007ECC
$button-color-darkness-blue = #007CC9

// Transition
$animation-time = .3s
$timing-function = ease

// Urls
$fonts-url = '/fonts/'
$bg-url = '/img/'

// Dimensions
$header-height = 50px
$cover-height = 400px

// Grid
$grid-hd = 1000px
$grid-tablet = 768px
$grid-mobile = 580px

// Media queries
$media-hd = "screen and (max-width: " + $grid-hd + ")"  // HD
$media-tablet = "screen and (max-width: " + $grid-tablet + ")"  // Tablet
$media-mobile = "screen and (max-width: " + $grid-mobile + ")"  // Mobile


