.video
    padding: 20px 0 0
    text-align: left

    &__item
        display: inline-block
        vertical-align: top
        width: 48%
        margin-right: 4%

        ^[0]_inner &
            margin-bottom: 4%

        &:nth-child(2n+2)
            margin-right: 0

    &__img-link
        display block
        margin-bottom: 3%
        position: relative

        &::before
            content: ''
            width: 66px
            height: 66px
            position: absolute
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            background: url($bg-url + 'play-button-icon.svg') no-repeat 0 0
            background-size: cover
            transition: width $animation-time $timing-function, height $animation-time $timing-function

        &:hover
            &::before
                width: 70px
                height: 70px

    &__img
        display: block
        max-width: 100%
        height: auto

    &__about
        position: absolute
        left: 0
        right: 0
        bottom: 0
        padding: 3% 60px 3% 3%
        text-decoration: none
        color: $color-white
        background: $color-dark
        font-size: 16px
        text-overflow: ellipsis
        white-space: nowrap
        overflow: hidden

    &__time
        position: absolute
        right: 3%

    &__name
        link()
        title(3)

    &_inner
        padding-top: 5px

@media $media-mobile
   .video
       white-space: normal
       padding-top: 0

       &__item
           width: auto
           display: block
           margin: 0 0 7% !important

           &:last-child
               margin-bottom: 0 !important

       &__img-link
           margin-bottom: 10px

           &::before
               width: 40px
               height: 40px

       &_inner
           padding-top: 0