@require './partials/var'
@require './partials/mixins'
@require './partials/fonts'
@require './partials/reset'
@require './partials/common'
@require './partials/animation'
@require './partials/header'
@require './partials/button'
@require './partials/page-section'
