@require './partials/var'
@require './partials/mixins'
@require './partials/fonts'
@require './partials/reset'
@require './partials/common'
@require './partials/animation'
@require './partials/header'
@require './partials/navigation-list'
@require './partials/button'
@require './partials/cover-section'
@require './partials/page-section'
@require './partials/events'
@require './partials/social-share'
@require './partials/footer'
